


.aboutus{
    background-color: rgba(255, 255, 255, .9);
    
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid gray;
    border-radius: 5px;
    width: 80%;
    padding: 5% 10%;
    margin-bottom: 40px;
    
    

}



.aboutus p{
    font-size: 1.3em;

}