<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/aboutus.css?v=1.2">
    <style>
        body{
        background-image: url('/assets/Images/home_page_three.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-attachment:fixed;
        margin: auto;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
    </style>
</head>
<body class="body">

    {{ template "Header"}}

    <div class="aboutus">
        <h1>About Us</h1>
        <p>
            The University College of Metaphysical Sciences was established in 2024 and the first intake took place on 1st September 2024.  UCMS offers  online courses, through text, audio and video and currently has students  coming from corners of the world. 
            UCMS’s campus is based in Lusaka, Zambia where programmes are coordinated. The Lusaka Campus has a Library, where registered Metaphysical Students can access material for their course.
        </p>
    </div>

  
    
</body>
</html>