<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
  <head><script src="/assets/js/color-modes.js"></script>

    <title>Home Page</title>
    <style>
      body{
        background-image: url('assets/Images/home_page_three.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-attachment:fixed;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


      }
      .custom_two{
        background-color: rgba(251, 251, 251, .9);
        border-radius: 5px;
      }
      
    </style>
</head>
<body>
  <div class="">

    

    {{ template "Header"}}
    <div class="container custom_two my-5">
        <div class="p-1 rounded">
          <div class="col-sm-8 py-5 mx-auto">
            <h1 class="display-5 fw-normal">Welcome To UCMS</h1>
            <p class="fs-5">
              The University College of Metaphysical Sciences (UCMS), was established with you in mind. Currently, people from world over are looking for knowledge that will improve their relationship not only with each other but the operations of the universe as well. 
              
              The University College of Metaphysical Sciences is here to awaken your purpose and mission on earth.  With such a realization, all will live in harmony.
              
              The information that you will acquire from the University College of Metaphysical Sciences, will create a happy person in you, live a health life and easily get any employment that you aspire in your life time. It is encouraged that every human being on earth MUST take this course, for life to be lived in full.
              
              Welcome to the awakened family!
              </p>
            
        </div>
        <div class="col-sm-8 py-5 mx-auto">
          <h1 class="display-5 fw-normal">About Us</h1>
          <p class="fs-5">
            The University College of Metaphysical Sciences was established in 2024 and the first intake took place on 1st September 2024.  UCMS offers  online courses, through text, audio and video and currently has students  coming from corners of the world. 
            UCMS’s campus is based in Lusaka, Zambia where programmes are coordinated. The Lusaka Campus has a Library, where registered Metaphysical Students can access material for their course.
            </p>
          
      </div>
        </div>
      </div>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>

</body>
</html>