<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/aboutus.css?v=1.1">
    <style>
        body{
        background-image: url('assets/Images/home_page_three.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-attachment:fixed;
        margin: auto;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
    </style>
</head>
<body class="body">

    {{ template "Header"}}

    <div class="aboutus">
        <h1>Programs</h1>
        <p>
            UMS offers a single programme in Metaphysical Sciences which starts with (1) the Award of Certificate of Attendance in Metaphysical Sciences, (2) Award of Certificate in Metaphysical Sciences, (3) Award of Diploma in Metaphysical Sciences, (4) Award of Bachelors Degree in Metaphysical Sciences, (5) Award of Masters Degree in Metaphysical Sciences and (6) Ph.D in Metaphysical Sciences.  
            An aspiring student can enroll at any time of the year, and writes the final examination in any individual course at any time when fully prepared. All aspiring students are encouraged to first ENROL in the preliminary course, which is the Award of Certificate of Attendance in Metaphysical Sciences. The program is a self-assessment stage for an aspiring student to the Metaphysical career calling. There after the student can proceed to the next level. 
            For the award of any Certificate at any level, an aspiring student is required to pass all the courses and meet the minimum requirements set by UCMS senate in both time spend on the course and fees related to the course.  Graduation will be conducted bi-annually, in the month of July and the month of December. The graduation will be preceded by UCMS Board of Examiners to review all courses examined. The mode of delivery for the courses is the British English.
            To enroll, fill in the forms online and pay the relevant fees.
            
        </p>
    </div>

  
    
</body>
</html>
</body>
</html>