

<link rel="stylesheet" href="/assets/css/dasboard.css">

<h2 class="dashboard_name">
    Programs 
</h2>
<hr>
<div class="tochange">
  <div class="programdiv">
      <div class="programcard">
          <h4>Award of Certificate of Attendance in Metaphysical Sciences</h4>
          <hr>
          <ul>
              <li>Communication Skills
              </li>
              <li>Public Speaking
              </li>
              <li>Intuition</li>
              <li>Understanding Religions of the World</li>
              <li>Public Relations</li>
              <li>Anger Management</li>
              <li>Connecting With Angels</li>
              <li>Critical Thinking</li>
              <li>Financial Education</li>

          </ul>
          <div class="bottom-details">
              <p>Students: <span>Number</span> </p>
              <a href="">Details</a>
          </div>
      </div>
      <div class="programcard">
          <h5>Award of Certificate in Metaphysical Sciences</h5>
          <hr>
      </div><div class="programcard">
          <h5>Award of Diploma in Metaphysical Sciences</h5>
          <hr>
      </div><div class="programcard">
          <h5>Award of Bachelors Degree in Metaphysical Sciences</h5>
          <hr>
      </div><div class="programcard">
          <h5>Award of Masters Degree in Metaphysical Sciences</h5>
          <hr>
      </div><div class="programcard">
          <h5>Ph.D in Metaphysical Sciences</h5>
          <hr>
      </div>
      
  </div>
</div>

