

<link rel="stylesheet" href="/assets/css/dasboard.css">

<div class="tochange">
    <div class="student_name_details">
        <p>{{ .First_Name}} {{ .Last_Name}}</p>
    </div>
    <hr>
    <div class="student_personal_information">
        
        <p>Phone Number: <span class="student_info">{{ .Phone}}</span></p>
        <p>Email: <span class="student_info">{{ .Email}}</span></p>
        <p>Date of Birtth: <span class="student_info">{{ .Date_Of_Birth}}</p>
        <p>Gender:<span class="student_info"> {{ .Gender}}</span></p>
        <p>Marital Status: <span class="student_info"> {{ .Marital_Status}}</span></p>
        <p>Education background: <span class="student_info"> {{ .Education_Background}}</span></p>
        <p>Program: <span class="student_info">{{ .Program}}</span></p>
        <p>High School Confirmation: <span class="student_info"></span> {{ .High_School}}</span></p>
        <p>Grammer Confirmation: <span class="student_info">{{ .Grammer_Confirmation}}</span></p>
        <p>Waiver:<span class="student_info">{{ .Waiver}}</span></p>
        <p>Children: <span class="student_info">{{ .Children}}</span></p>
        <p>School Attended:<span class="student_info">{{ .School_Attended}}</span></p>
        <p>Program Studied:<span class="student_info">{{ .Major_In}}</span></p>
        <p>Degre Obtained: <span class="student_info">{{ .Degree_Obtained}}</span></p>
        <p>Current Occupation:<span class="student_info"> {{ .Current_Occupation}}</span></p>
        <p>Field of interested in: <span class="student_info">{{ .Field_Interested}}</span></p>
        <p>Prio Techniques Studied:<span class="student_info">{{ .Prio_Techniques}}</span> </p>
        <p>Previous Experience: <span class="student_info">{{ .Previouse_Experience}}</span></p>
        <p>Purpose of enrollment: <span class="student_info">{{ .Purpose_Of_Enrollment}}</span></p>
        <p>Use of Knowledge odtained: <span class="student_info">{{ .Use_Of_Knowledge}}</span></p>
        <p>Reason for chosing UCMS:<span class="student_info">{{ .Reason_For_Choice}}</span> </p>
        <p>How did they find out about UCMS:<span class="student_info">{{ .Method_Of_Encounter}}</span> </p>
    
    </div>
    <div class="update_div">
        <div class="update_btn">
            <p>Update Student Profile</p>
        </div>
        <div class="delete_btn">
            <p>Delete Student Profile</p>
        </div>
      </div>
    <hr>
    
    <div class="student_programs">
      <h5>Programs Applied For</h5>
      <hr>
      
    
      <div class="program_details">
            {{ template "admin_dash_acams"}}
            {{ template "admin_dash_acms"}}
            {{ template "admin_dash_adms"}}
            {{ template  "admin_dash_abdms"}}


      </div>
    
    </div>
    
</div>


{{define "admin_dash_acams"}}
    <h5 class="program_name">Award of Certificate of Attendance in Metaphysical Sciences</h5>
                
    <div class="program_table">
    <table>
        <thead>
        <tr>
            <th>#</th>
            <th>Course Name</th>
            <th>Exam</th>
            <th>Record Result</th>
            <th>Complete</th>
            
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Communication Skills</td>
                <td>Pendding</td>
                <td>Pendding</td>
                <td>Pendding</td>
                


            </tr>
            <tr>
                <td>2</td>
                <td>Public Speaking</td>
                <td>Pendding</td>
                <td>Pendding</td>
                <td>Pendding</td>
                


            </tr><tr>
                <td>3</td>
                <td>Intuition</td>
                <td>Pendding</td>
                <td>Pendding</td>
                <td>Pendding</td>
                


            </tr>
            <tr>
                <td>4</td>
                <td>Understanding Religions of the World</td>
                <td>Pendding</td>
                <td>Pendding</td>
                <td>Pendding</td>
                


            </tr><tr>
                <td>5</td>
                <td>Public Relations</td>
                <td>Pendding</td>
                <td>Pendding</td>
                <td>Pendding</td>
                


            </tr><tr>
                <td>6</td>
                <td>Anger Management</td>
                <td>Pendding</td>
                <td>Pendding</td>
                <td>Pendding</td>
                


            </tr><tr>
                <td>7</td>
                <td>Connecting With Angels</td>
                <td>Pendding</td>
                <td>Pendding</td>
                <td>Pendding</td>
                


            </tr>
            <tr>
                <td>8</td>
                <td>Critical Thinking</td>
                <td>Pendding</td>
                <td>Pendding</td>
                <td>Pendding</td>
                


            </tr>
            <tr>
                <td>9</td>
                <td>Financial Education</td>
                <td>Pendding</td>
                <td>Pendding</td>
                <td>Pendding</td>
                


            </tr>
        </tbody>
    </table>
    </div>
    <div class="update_div">
        <div class="update_btn">
            <p>Update Program Data</p>
        </div>
    </div>
{{end}}



{{define "admin_dash_acms"}}
<h5 class="program_name">AWARD OF CERTIFICATE IN METAPHYSICAL SCIENCES</h5>
                
<div class="program_table">
    <table>
    <thead>
    <tr>
        <th>#</th>
        <th>Course Name</th>
        <th>Exam</th>
        <th>Record Result</th>
        <th>Complete</th>
        
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Mindfulness</td>
            <td>Pendding</td>
            <td>Pendding</td>
            <td>Pendding</td>
            


        </tr>
        <tr>
            <td>2</td>
            <td>Dreams and Dreaming</td>
            <td>Pendding</td>
            <td>Pendding</td>
            <td>Pendding</td>
            


        </tr><tr>
            <td>3</td>
            <td>Energy of Money</td>
            <td>Pendding</td>
            <td>Pendding</td>
            <td>Pendding</td>
            


        </tr>
        <tr>
            <td>4</td>
            <td>Crystals and Gemstones</td>
            <td>Pendding</td>
            <td>Pendding</td>
            <td>Pendding</td>
            


        </tr><tr>
            <td>5</td>
            <td>Forgiveness</td>
            <td>Pendding</td>
            <td>Pendding</td>
            <td>Pendding</td>
            


        </tr><tr>
            <td>6</td>
            <td>Cleansing and Fasting</td>
            <td>Pendding</td>
            <td>Pendding</td>
            <td>Pendding</td>
            


        </tr><tr>
            <td>7</td>
            <td>Astrology</td>
            <td>Pendding</td>
            <td>Pendding</td>
            <td>Pendding</td>
            


        </tr>
        <tr>
            <td>8</td>
            <td>African Culture and Traditions</td>
            <td>Pendding</td>
            <td>Pendding</td>
            <td>Pendding</td>
            


        </tr>
        <tr>
            <td>9</td>
            <td>Financial Education</td>
            <td>Pendding</td>
            <td>Pendding</td>
            <td>Pendding</td>
            


        </tr>
        </tbody>
    </table>
    </div>
    <div class="update_div">
        <div class="update_btn">
            <p>Update Program Data</p>
        </div>
</div>

{{end}}


{{ define "admin_dash_adms"}}
<h5 class="program_name">AWARD OF DIPLOMA IN METAPHYSICAL SCIENCES</h5>
                
<div class="program_table">
    <table>
    <thead>
    <tr>
        <th>#</th>
        <th>Course Name</th>
        <th>Exam</th>
        <th>Record Result</th>
        <th>Complete</th>
        
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Course</td>
            <td>Pendding</td>
            <td>Pendding</td>
            <td>Pendding</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Understanding Miracles</td>
            <td>Pendding</td>
            <td>Pendding</td>
            <td>Pendding</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Channeling Skills</td>
            <td>Pendding</td>
            <td>Pendding</td>
            <td>Pendding</td>
            


        </tr><tr>
            <td>4</td>
            <td>Enneagram</td>
            <td>Pendding</td>
            <td>Pendding</td>
            <td>Pendding</td>
            


        </tr>
        <tr>
            <td>5</td>
            <td>Mythology on Gods and Goddess</td>
            <td>Pendding</td>
            <td>Pendding</td>
            <td>Pendding</td>
            


        </tr><tr>
            <td>6</td>
            <td>Herbs</td>
            <td>Pendding</td>
            <td>Pendding</td>
            <td>Pendding</td>
            


        </tr><tr>
            <td>7</td>
            <td>Meditation Skills</td>
            <td>Pendding</td>
            <td>Pendding</td>
            <td>Pendding</td>
            


        </tr><tr>
            <td>8</td>
            <td>Mantras and Mudras</td>
            <td>Pendding</td>
            <td>Pendding</td>
            <td>Pendding</td>
            


        </tr>
        <tr>
            <td>9</td>
            <td>Divinations</td>
            <td>Pendding</td>
            <td>Pendding</td>
            <td>Pendding</td>
            


        </tr>
        <tr>
            <td>10</td>
            <td>Archetypes</td>
            <td>Pendding</td>
            <td>Pendding</td>
            <td>Pendding</td>
            


        </tr>
        <tr>
            <td>11</td>
            <td>Basic Reaserch</td>
            <td>Pendding</td>
            <td>Pendding</td>
            <td>Pendding</td>
            


        </tr>
        <tr>
            <td>12</td>
            <td>Understanding Propaganda</td>
            <td>Pendding</td>
            <td>Pendding</td>
            <td>Pendding</td>
            
        </tr>
        <tr>
            <td>13</td>
            <td>Great Spiritual Teachers</td>
            <td>Pendding</td>
            <td>Pendding</td>
            <td>Pendding</td>
        </tr>
        <tr>
            <td>14</td>
            <td>Reprograming</td>
            <td>Pendding</td>
            <td>Pendding</td>
            <td>Pendding</td>
        </tr>
        <tr>
            <td>15</td>
            <td>Shamanism</td>
            <td>Pendding</td>
            <td>Pendding</td>
            <td>Pendding</td>
        </tr>
        <tr>
            <td>16</td>
            <td>Mystery Schools in the World</td>
            <td>Pendding</td>
            <td>Pendding</td>
            <td>Pendding</td>
        </tr>
        <tr>
            <td>17</td>
            <td>Law and Ethics in Metaphysical Sciences</td>
            <td>Pendding</td>
            <td>Pendding</td>
            <td>Pendding</td>
        </tr>
        <tr>
            <td>18</td>
            <td>Non Violent Communication</td>
            <td>Pendding</td>
            <td>Pendding</td>
            <td>Pendding</td>
        </tr>
        </tbody>
    </table>
    </div>
    <div class="update_div">
        <div class="update_btn">
            <p>Update Program Data</p>
        </div>
</div>

{{end}}

{{ define "admin_dash_abdms"}}
<h5 class="program_name">AWARD OF BACHELORS'S DEGREE IN METAPHYSICAL SCIENCES</h5>
                
<div class="program_table">
    <table>
    <thead>
    <tr>
        <th>#</th>
        <th>Course Name</th>
        <th>Exam</th>
        <th>Record Result</th>
        <th>Complete</th>
        
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Causes and Core Issues in Beliefs</td>
            <td>Pendding</td>
            <td>Pendding</td>
            <td>Pendding</td>
            


        </tr>
        <tr>
            <td>2</td>
            <td>Emotional Well Being</td>
            <td>Pendding</td>
            <td>Pendding</td>
            <td>Pendding</td>
            


        </tr><tr>
            <td>3</td>
            <td>The Art of Breathing</td>
            <td>Pendding</td>
            <td>Pendding</td>
            <td>Pendding</td>
            


        </tr>
        <tr>
            <td>4</td>
            <td>Spiritual symbols and colours</td>
            <td>Pendding</td>
            <td>Pendding</td>
            <td>Pendding</td>
            


        </tr><tr>
            <td>5</td>
            <td>Psychic Skills</td>
            <td>Pendding</td>
            <td>Pendding</td>
            <td>Pendding</td>
            


        </tr><tr>
            <td>6</td>
            <td>Shadow Work</td>
            <td>Pendding</td>
            <td>Pendding</td>
            <td>Pendding</td>
            


        </tr><tr>
            <td>7</td>
            <td>The Craft</td>
            <td>Pendding</td>
            <td>Pendding</td>
            <td>Pendding</td>
            


        </tr>
        <tr>
            <td>8</td>
            <td>Hypnosis and Beyond</td>
            <td>Pendding</td>
            <td>Pendding</td>
            <td>Pendding</td>
            


        </tr>
        <tr>
            <td>9</td>
            <td>Mysterious experinces</td>
            <td>Pendding</td>
            <td>Pendding</td>
            <td>Pendding</td>
            


        </tr>
        <tr>
            <td>10</td>
            <td>Manifestation of Skills</td>
            <td>Pendding</td>
            <td>Pendding</td>
            <td>Pendding</td>
            


        </tr>
        <tr>
            <td>11</td>
            <td>Unlocking Creative</td>
            <td>Pendding</td>
            <td>Pendding</td>
            <td>Pendding</td>
            
        </tr>
        <tr>
            <td>12</td>
            <td>Transpersonal Counselling</td>
            <td>Pendding</td>
            <td>Pendding</td>
            <td>Pendding</td>
        </tr>
        <tr>
            <td>13</td>
            <td>African Healing Arts</td>
            <td>Pendding</td>
            <td>Pendding</td>
            <td>Pendding</td>
        </tr>
        <tr>
            <td>14</td>
            <td>Ceremonies of the World</td>
            <td>Pendding</td>
            <td>Pendding</td>
            <td>Pendding</td>
        </tr>
        <tr>
            <td>15</td>
            <td>Mother Earth</td>
            <td>Pendding</td>
            <td>Pendding</td>
            <td>Pendding</td>
        </tr>
        <tr>
            <td>16</td>
            <td>The Art of Placement</td>
            <td>Pendding</td>
            <td>Pendding</td>
            <td>Pendding</td>
        </tr>
        <tr>
            <td>17</td>
            <td>Chakras and Auras</td>
            <td>Pendding</td>
            <td>Pendding</td>
            <td>Pendding</td>
        </tr>
        <tr>
            <td>18</td>
            <td>Transforming personalities</td>
            <td>Pendding</td>
            <td>Pendding</td>
            <td>Pendding</td>
        </tr>
        <tr>
            <td>19</td>
            <td>Mayan Calender</td>
            <td>Pendding</td>
            <td>Pendding</td>
            <td>Pendding</td>
        </tr>
        <tr>
            <td>20</td>
            <td>Polarity Therapy</td>
            <td>Pendding</td>
            <td>Pendding</td>
            <td>Pendding</td>
        </tr>
        <tr>
            <td>21</td>
            <td>Introduction To Meditation</td>
            <td>Pendding</td>
            <td>Pendding</td>
            <td>Pendding</td>
        </tr>
        <tr>
            <td>22</td>
            <td>Health and Nutrition</td>
            <td>Pendding</td>
            <td>Pendding</td>
            <td>Pendding</td>
        </tr>
        <tr>
            <td>23</td>
            <td>Setting up a business</td>
            <td>Pendding</td>
            <td>Pendding</td>
            <td>Pendding</td>
        </tr>
        </tbody>
    </table>
    </div>
    <div class="update_div">
        <div class="update_btn">
            <p>Update Program Data</p>
        </div>
</div>

{{end}}